.btn-middle{
    color: $white;
    background: $orange;
    margin-top: 20px;
    padding: 10px 52px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    transition: 0.2s;
    text-transform: lowercase;
}

.btn-middle:hover, .btn-remove:hover{
    opacity: 0.6;
    cursor:pointer;
    transition: 0.2s;
}

.btn-fxd{
    position: fixed;
    top: 50px;
    right: 20px;
}

.btn-remove{
    background-color: $red;
    border: none;
    font-size: 20pt;
    color: $white;
    position: absolute;
    cursor: pointer;
    transition: 0.2s;
    padding: auto;
}

.btn-red {
    background-color: $red;
}