$white: #fff;
$black: #000;
$grey: #f3f3f3;
$blue: #4252ff;
$red: #ff4141;
$orange: rgb(218, 144, 33);
$boxShadow: 0px 0px 18px -3px rgba(0,0,0,0.08);
$boxShadowHover: 0px 0px 18px -3px rgba(218, 144, 33,0.08);
