.about div{
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    width: 90%;
}

.about h1 {
    margin-bottom: 20px
}

.about p{
    margin-bottom: 15px;
}

// TABLET
@media only screen and (max-width: 1080px) {
    .about div{
        padding: 80px 0;
        position: static;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        width: 90%;
        margin: 0 5%;
    }
}

