.about div{
    /* background-color: green; */
    margin-top: 50%;
    transform: translate(0, -50%);
}

.about div {
    /* height: 50vh; */
    padding: 30px;
}

.about h1 {
    margin-bottom: 20px
}

.about p{
    margin-bottom: 15px;
}

