body {
    /* background-color: red; */
}

.left, .right {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #fff;
    /* z-index: -1; */
    padding: 50px 10px;

}

.right {
    right: 0;
    background-color: rgb(218, 144, 33);
}

.frontimage {
    height: 25vw;
    width: 20vw;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50%;
    background-image: url('./../assets/profile.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.fonttype {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

.right h1 {
    color: white;
    font-size: 60px;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
    border-bottom: solid white 2px;;
}

button {
    width: 100px;
    padding: 5px 0;
    font-size: 12px;
    border: rgb(218, 144, 33) solid 2px;
    color: rgb(218, 144, 33);
    /* position: absolute; */
    transition: 0.5s;
}

button:hover {
    background-color: rgb(218, 144, 33);
    color: white;
}