.messages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.messages div{
    width: 30%;
    margin: 20px 0;
    padding: 20px;
}

.messages div h2 {
    padding: 10px 0;
    text-align: center;
}

.messaages div span{
    color: blue;
}

